.container {
    position: relative;
   
  }
  .card2 {
    width: auto;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 1.5rem;
  }
  .card2 .card-body {
    padding: 1rem;
    margin-top: 5rem;
  }
  
  .card2 .card-body .card-title {
    font-size: 5rem;
    color: #5b4f51;
  }
  .card2 .card-body .card-text {
    font-size: 5rem;
  }
  
  .card2 .card-body img {
    margin-left: 12rem;
  }
  .card3 {
    width: auto;
    height: auto;
    background-color: #D9D9D9;
    border-radius: 1.5rem;
  }
  
  .card3 .card-body .card-title {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .card3 .card-body .card-text {
    font-size: 15px;
  }
  
  .pText span {
    color: #5b4f51;
    font-size: 0.8rem;
  }

  .straightLine3 {
    border-top: 0.1rem solid #d9d9d9;
    width: 98%;
    margin-left: 1rem;
  }

  .verticalLine {
    border-left: 2px solid #d9d9d9;
    height: 24.8rem;
    position: absolute;
    top: 0;
    left: 24.7%;
  }



  .verticalLine2 {
    border-left: 2px solid #d9d9d9;
    height:24.8rem;
    position: absolute;
    top: 0;
    right: 24.7%;
  }