.bannerTitle {
    padding: 2.5rem;
  }
  .mainTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d9d9d9;
    margin-bottom: 0.5rem;
  }
  
  .bannerSvg{
    fill: aliceblue;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 5rem;
  }
  .images {
    gap: 1.5rem;
  }
  
  .img1 {
    margin-top: 6rem;
    width: 14rem;
    height: 14rem;
  }
  
  .img2 {
    width: 14rem;
    height: 14rem;
    margin-bottom: 1rem;
  }

  .headerImg3 img {
    width: 12rem;
    height: 8.5rem;
    margin-top: 3.5rem;
    margin-left: 4rem;
  }

  .straightLine2 {
    border: 2px solid #ffffffff;
    width: 130px;
    margin: 0 0 0 4.2rem;
  }

  .straightLine {
    margin-top: 2.5rem;
    border-top: 1px solid #d9d9d9;
    height: 0;
    width: 28rem;
  }

 