
.customCard:hover {
    background-color: #e44320;
    color: #ffffff;
  }
  
  .straightLine7 {
    border-top: 0.1rem solid #d9d9d9;
    width: 50%;
    margin-left: 28%;
    
  }

  .card{
    background-color: #d9d9d9;
  }
  
